<div class="containerTitleForm">
  <h2 class="titleForm">Forgot your password?</h2>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <div class="titleForLabelOnForm">
      <%= f.label :email %><br />
    </div>
    <div class="containerTextfieldForm">
      <%= f.email_field :email, autofocus: true, class: 'textfieldForForm' %>
    </div>
  </div>

  <div class="containerTextfieldForm">
    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: 'buttonForm' %>
    </div>
  </div>
<% end %>

<div class="containerTextfieldForm">
  <%= render "devise/shared/links" %>
</div>
