<%= form_for([@prank_type]) do |f| %>
  <% if @prank_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prank_type.errors.count, "error") %> prohibited this prank_type from being saved:</h2>

      <ul>
      <% @prank_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
   <%= f.label :name %> <br>
   <%= f.text_field :name %>
  </div>
  
  <div class="field">
   <%= f.label :description %> <br>
   <%= f.text_field :description %>
  </div>

  <div style="text-align: center; margin:auto">
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
