<%= form_tag command_charges_path do %>
  <article>
    <% if @command.payment == true %>
      <span> Paiement déjà effectué. </span><br>
      <%= link_to('retour', root_path) %>
    <% else %>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span>Amount: <%= number_to_currency( @command.totalPrice) %></span>
      </label>
  
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Paiement farce"
            data-amount= <%= (@command.totalPrice*100) %>
            data-locale="auto">
    </script>
  
  <% end %>
<% end %>